@page
@model ZeloraClient.Pages.SuccessPageModel
@{
}

<h1>Customer Registration Successful</h1>

<p>Congratulations! Your registration was successful.</p>

<a asp-page="/Index">Return to Home Page</a>